---
interface BaseProps {
  title: string;
  url?: string;
  body: string;
}

interface WithSubtitle extends BaseProps {
  desc: string;
  date?: never;
  topic: string;
}

interface WithDate extends BaseProps {
  date: string | Date;
  desc?: never;
  topic: string;
}

type Props = WithSubtitle | WithDate;
const { title, desc, url, date, topic, body } = Astro.props;
const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};
let formattedPublishDate;
if (date) {
  formattedPublishDate = new Date(date).toLocaleDateString(
    "en-US",
    dateOptions,
  );
}
---

<article>
  <div class="text-date">
    <p class="name-topic">seva <span class="topic">on @{topic}</span></p>
    <time datetime={formattedPublishDate}>{formattedPublishDate}</time>
  </div>
  <a href={url}>
    {title ? <h2>{title}</h2> : ""}
    <p>{body}</p>
  </a>
</article>

<style>
  article {
    border-bottom: 1px solid white;
    font-size: 1.2rem;
    padding: 1rem 0;
  }
  p,
  h2 {
    margin: 0;
  }
  time {
    font-style: italic;
    color: #d4be98;
  }
  .text-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    align-items: center;
  }
  .name-topic {
    font-weight: bold;
    color: #fff;
  }
  .topic {
    color: #d3869b;
  }
  h2 {
    margin-bottom: 0.5rem;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
