---
import "../assets/default.css";
import Profile from "../components/Profile.astro";
import Navbar from "../components/Navbar.astro";
const { frontmatter } = Astro.props;
const dateOptions: object = {
  year: "numeric",
  month: "long",
  day: "numeric",
};

const formattedPublishDate = new Date(
  frontmatter.publishDate,
).toLocaleDateString("en-US", dateOptions);

const formattedModifiedDate = new Date(
  frontmatter.modifiedDate,
).toLocaleDateString("en-US", dateOptions);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title} - Seva's personal page</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <Profile />
      </header>
      <div class="second-col">
        <nav>
          <Navbar />
        </nav>
        <main>
          <h1>{frontmatter.title}</h1>
          <time datetime={formattedPublishDate}>{formattedPublishDate}</time>
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>

<style>
  body {
    margin: 0;
    box-sizing: border-box;
  }
  .container {
    padding: 1rem 1.5rem;
    max-width: 1000px;
    margin-inline: auto;
    /*    min-height: 100dvh; */
    display: flex;
    /*    border: 1px solid yellow; */
    gap: 2rem;
    flex-wrap: wrap;
  }
  .second-col {
    flex-basis: 50%;
    flex-grow: 1;
  }
  .header {
    max-width: min-content;
  }
  h1 {
    margin-bottom: 0;
  }
</style>
